<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @space.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @space.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @space.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @space.description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @space.name %>
</p>

<%= link_to 'Edit', edit_space_path(@space) %> |
<%= link_to 'Back', spaces_path %>

